.container {
  position: relative;

  display: flex;
  align-items: center;
  gap: 10%;

  min-width: 425px;
  max-width: 425px;

  margin-left: auto;
  margin-right: auto;
  padding: 20px 15px;

  @media (min-width: 1024px) {
    display: block;
    max-width: 1230px;
    padding: 50px 15px;
  }
}

.title {
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
  color: aliceblue;
  text-shadow: 5px 5px black;

  @media (min-width: 1024px) {
    margin-top: 40px;
    font-size: 45px;
  }
}
