.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.half {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.pair {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 330px;

  background-color: aqua;
  outline: 1px solid red;

  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: red;
  }
}
