.final {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 250px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 5px rgb(59, 79, 168);
  border: 1px solid rgb(148, 146, 199);

  background-color: rgba(93, 121, 173, 0.3);
}

.final::before {
  content: '';
  position: absolute;
  top: 250px;
  left: -275px;
  display: inline-block;
  width: 275px;
  height: 2px;
  background-color: rgb(246, 243, 243);
}

.final::after {
  content: '';
  position: absolute;
  top: 250px;
  right: -275px;
  display: inline-block;
  width: 275px;
  height: 2px;
  background-color: rgb(246, 243, 243);
}

.team {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 150px;
  height: 150px;

  /* outline: 4px solid rgb(209, 89, 89); */
}

.message {
  position: absolute;
  top: 0;
  left: -200px;

  font-size: 250px;
  font-weight: 900;
  text-shadow: 15px 15px rgb(22, 12, 12);
  color: rgb(42, 10, 122);
}
